[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "geas"]
	path = geas
	url = https://bitbucket.org/gkgange/geas.git
[submodule "libminizinc"]
	path = libminizinc
	url = https://github.com/MiniZinc/libminizinc
